* {
    margin: 0;              /* Remove default margin */
    padding: 0;             /* Remove default padding */
}

/* whole site */
body {
    font-family: "Source Sans 3";
    line-height: 1.6;
    color: #333;
    background-color: #fdfdfd;
    padding: 0rem 2rem;
}

/* center section */
body main {
    margin: 0 auto;
    max-width: 800px;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
    font-weight: 600;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }

p { margin: 1rem 0; }

a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    font-size: 1.2rem;
}

/* pre blocks */
pre {
    background-color: #ccc;
    margin: 1rem 0rem;
    border-radius: 12px;
}

/* code block inside */
pre code {
    overflow-x: auto;
    border: 1px solid #ccc;
    font-family: inherit;
    border-radius: inherit;
}

/* code inline */
code {
    background-color: #ededed;
    padding: 0rem 0.3rem;
    border-radius: 4px;
    font-family: inherit;
}

/* tables */
table {
    width: 100%;
    border-collapse: collapse;
}

/* table cells */
table th, table td {
    border: 1px solid #ccc;
    padding: 0.5rem 0.5rem;
}

/* table header */
table th {
    background-color: #f4f4f4;
}

/* blockquotes */
blockquote {
    border-left: 4px solid #0077cc;
    padding-left: 1rem;
    margin: 1rem 0;
    font-style: italic;
}

/* lists */
ul, ol {
    margin: 0.5rem 0 1rem 2rem;
}

/* images */
img {
    max-width: 100%;
    border-radius: 8px;
}

/* footer */
footer {
    text-align: center;
}

/* header */
header {
    padding: 1.5rem 0;
}

/* navbar */
header nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* navbar button */
header nav a {
    padding: 0.4rem 1.2rem;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* navbar button hover */
header nav a:hover {
    background: hsl(0, 0%, 90%);
}