<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ title }}</title>

  <link rel="stylesheet" href="/static/css/fonts.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/highlight/vs.css" id="hljs-theme">

  
  <script src="/static/js/highlight.js"></script>
  <script>hljs.highlightAll();</script>

  <script src="/static/js/logic.js" defer></script>
</head>

<body>
  <header>
    <nav>
      {{ nav }}
      <a href="#" id="theme-toggle">Toggle Theme</a>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>2026 Sjoerd Wouters</p>
  </footer>

</body>

</html>