<!DOCTYPE html>
<html lang="en">

{{ head }}

<body>
  {{ header }}

  <div class="container">
    
    <div class="toc">
      <ul>
        <li>Coffee Chaper</li>
        <li>Tea Chaper New</li>
        <li>Milk Chapter Foo</li>
        <li>Coffee Chaper</li>
        <li>Tea Chaper New</li>
        <li>Milk Chapter Foo</li>
        <li>Coffee Chaper</li>
        <li>Tea Chaper New</li>
        <li>Milk Chapter Foo</li>
      </ul>
    </div>
    
    <div class="content">
      {{ content }}
    </div>

  </div>

  {{ footer }}

</body>

</html>